<!DOCTYPE html>
<html>
<head>
    <title>Dark Red Background with Bootstrap</title>
    <!-- Включаємо Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <style type="text/css">
        body {
            background-color: #4c0000; /* Dark red */
        }
    </style>
</head>
<body background="D:\background.jfif">
    <h1 class="text-white">Hello, World!</h1>
    <!-- Включаємо Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>
</body>
</html>